//extends layout
doctype html
html(lang="es")

  head
    title='Hola'
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")

  body     
    h1= title
    p Welcome to #{title}